body{
    background-color: deepskyblue;
    font-family: sans-serif;
    
}
.login-form{
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;
    margin-left: 40%;
    
}

.register-form{
    width: 300px;
    height: 450px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 40%;

}

.change_password_form
{
    width: 300px;
    height: 450px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 40%;
}

.login-form input,.register-form input,.change_password_form input{
    border-radius: 5px;
    border: 1px solid grey;
}
.login-form label{
    float:left;
    padding-left: 25px;
}
.register-form label{
    float:left;
    padding-left: 10px; 
}
.change_password_form label
{
    float:left;
    padding-left: 10px;
}


.submit{
    background-color:#3366cc;
    color: white;
    width:100px;
    height: 40px;
   
}
.right-navbar{
    float:right;
}
p.error { color:red; font-size:105%; font-weight:bold; text-align:center;
}
.d-block{
    width:1600px;
    height:500px;
}
.slide
{
    margin-top: 0%;
    margin-left: 20%;
}

